body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #4070f4 !important;
    font-family: "Poppins", sans-serif;
}

.forma {
    position: relative;
    max-width: 900px;
    width: 100%;
    background-color: #fff;
    border-radius: 8px;
    padding: 30px;
    margin: 100px 15px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.forma header {
    position: relative;
    font-size: 20px;
    font-weight: 600;
    color: #333;
    margin-bottom: 20px;
}

.forma header::before {
    content: '';
    position: absolute;
    bottom: -5px;
    height: 3px;
    width: 40px;
    border-radius: 8px;
    background-color: #4070f4;
}

.forma form {
    margin-top: 16px;
    min-height: 490px;
    background: #fff;
}

.label {
    padding: 15px;
    width: auto;
}

.forma form .details {
    margin-top: 30px;
}

.forma form .title {
    display: block;
    margin-bottom: 8px;
    font-size: 16px;
    font-weight: 500;
    color: #333;
}

.forma form .fields {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
}

form .fields .input-field {
    display: flex;
    flex-direction: column;
    width: calc(100% / 3 - 15px);
}
form .fields .file-field {
    display: flex;
    flex-direction: column;
    width: calc(100% / 3 - 15px);
}

.input-field label {
    font-size: 13px;
    font-weight: 500;
    color: #2e2e2e;
}

.input-field input,
.input-field select {
    outline: none;
    font-size: 14px;
    font-weight: 400;
    color: #333;
    border-radius: 5px;
    border: 1px solid #aaa;
    padding: 0 15px;
    height: 42px;
    margin-top: 6px;
    transition: box-shadow 0.3s ease, border-color 0.3s ease;
}

.input-field input:focus,
.input-field select:focus {
    border-color: #4070f4;
    box-shadow: 0 3px 6px rgba(64, 112, 244, 0.2);
}

.input-field input[type="date"] {
    color: #707070;
}

.input-field input[type="date"]:valid {
    color: #333;
}

.forma form button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    max-width: 200px;
    width: 100%;
    border: none;
    outline: none;
    color: #fff;
    border-radius: 5px;
    margin: 30px 0 10px;
    background-color: #4070f4;
    transition: background-color 0.3s ease;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
}

.forma form button:hover {
    background-color: #265df2;
}
